*{
   margin: 0;
   padding: 0;
  
}
body{
   background: url('WhatsApp\ Image\ 2022-02-18\ at\ 9.47.05\ PM.jpeg');
   background-repeat: no-repeat;
   background-size: 100% 100%;
   opacity: 0.9;
}
.logo{
   width: 14%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.btn{
   color: #E5E5E5;
   width: 20%;
   text-decoration: none;
   background-color: rgb(14, 14, 56);
   padding: 20px;
   border-radius: 10px;
   font-size: 25px;
   margin-top: 100px;
   margin-left: 10px;
   cursor: pointer;
}
.btn:hover{
   background-color: rgb(7, 45, 59);
   font-size: 30px ;
   text-decoration: underline;
}

.logo img{
   width: 60%;
   height: 60%;
   border: 2px solid rgb(19, 7, 7);
   border-radius: 010px;
   margin-left: -10px;
}
.navbar{
   position: sticky;
   display: flex;
   
}
.navlist{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 70%;
}
.navlist li{
   list-style: none;
   padding: 40px ;

}
.navlist li a{
   font-weight: bold;
   text-decoration: none;
   font-size: 20px;
   color: black;
}
.navlist li a:hover{
   text-decoration: overline;
   color: rgb(51, 51, 51);
}
.dform{
   
    width: 100%;
    height: 770px;
    opacity: 0.7;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
.main{
   margin-top: 40px;
   background-color: rgb(0,0,0,0.5);
   width: 800px;
   height: 640px;
   margin: auto;
}
.donationform{
   width: 800px;
   background-color: rgb(0,0,0,0.7);
   margin: auto;
   color: #FFFFFF;
   padding: 20px 5px 20px 5px;
   text-align: center;
   border-radius: 15px 15px 0px 0px;

}
form{
   padding: 20px;
}
#name{
   width: 100%;
   height: 30px;
}
.name{
   margin-left: 10px;
   margin-top: 30px;
   width: 255px;
   color: white;
   font-size: 24px;
   font-weight: 600;

}
.firstname{
   border: none;
   border-bottom: 2px solid rgb(19, 19, 61);
   background-color: transparent;
   position: relative;
   left: 200px;
   top: -37px;
   color: #E5E5E5;
   line-height: 40px;
   padding: 0px 22px;
   font-size: 16px;
}
.lastname{
   border: none;
   color: #E5E5E5;
   border-bottom: 2px solid rgb(19, 19, 61);
   background-color: transparent;
   position: relative;
   left: 410px;
   top: -80px;
   line-height: 40px;
   padding: 0px 22px;
   font-size: 16px;
   
}
.firstlabel{
   position: relative;
   color: #E5E5E5;
   text-transform: capitalize;
   font-size: 16px;
   left: 203px;
   top: -45px;
}
.secondlabel{
   position: relative;
   color: #E5E5E5;
   text-transform: capitalize;
   font-size: 16px;
   left: 158px;
   top: -45px;
}
.contactno{
   border: none;
   border-bottom: 2px solid rgb(19, 19, 61);
   background-color: transparent;
   position: relative;
   left: 200px;
   top: -22px;
   line-height: 40px;
   padding: 0px 22px;
   font-size: 16px;
   color: #E5E5E5;
}
.mailId{
   border: none;
   border-bottom: 2px solid rgb(19, 19, 61);
   background-color: transparent;
   position: relative;
   left: 145px;
   top: -22px;
   line-height: 40px;
   padding: 0px 22px;
   font-size: 16px;
   color: #E5E5E5;
}
.thirdlabel{
   position: relative;
   color: #E5E5E5;
   text-transform: capitalize;
   font-size: 16px;
   left: -50px;
   top: 10px;
}
.fourthlabel{
   position: relative;
   color: #E5E5E5;
   text-transform: capitalize;
   font-size: 16px;
   left: -105px;
   top: 10px;
}
.adress{
   border: none;
   border-bottom: 2px solid rgb(19, 19, 61);
   background-color: transparent;
   position: relative;
   left: 230px;
   top: -40px;
   line-height: 40px;
   padding: 0px 22px;
   font-size: 16px;
   color: #E5E5E5;
}
.pincode{
   border: none;
   border-bottom: 2px solid rgb(19, 19, 61);
   background-color: transparent;
   position: relative;
   left: 190px;
   top: -40px;
   color: #E5E5E5;
   line-height: 40px;
   padding: 0px 22px;
   font-size: 16px;
  
}
.fifthlabel{
   position: relative;
   color: #E5E5E5;
   text-transform: capitalize;
   font-size: 16px;
   left: -10px;
   top: -5px;
}
.sixthlabel{
   position: relative;
   color: #E5E5E5;
   text-transform: capitalize;
   font-size: 16px;
   left: -55px;
   top: -5px;
}
#items{
   background-color: transparent;
   color: #E5E5E5;
   border: 2px solid rgb(19, 19, 61);
   position: relative;
   width:  450px;
   height: 150px;
   left: 250px;
   top: -55px;
   line-height: 40px;
   border-radius: 6px;
   padding: 0px 0px;
   font-size: 16px;
  }
.bttn{
   width: 40%;
   padding: 10px;
   border-radius: 10px;
   font-size: 15px;
   margin-top: 0px;
   margin-left: 250px;
   cursor: pointer;

}
